* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 700px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
}

.product-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-card img {
  width: 680px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: solid 1px #ccc;
}

.product-card p {
  font-size: 14px;
  color: #333;
  margin-bottom: 12px;
}

.product-card button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #0056b3;
}
