* {
  font-family: Helvetica;
}

body {
  padding: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
}

#app {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: solid 1px #ccc;
  border-radius: 6px;
  width: 300px;
  max-width: 100%;
  padding: 10px;
  box-shadow: #ccc 2px 2px 6px;
}

.motherboard {
  margin-top: 10px;
  padding-top: 10px;
  width: 230px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  box-shadow: #ccc 2px 2px 6px;
}
